@font-face {
    font-family: heyam;
    src: url(./Sambia.otf);
}

@font-face {
    font-family: porsche;
    src: url(./911v2li.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#main{height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-image: url(https://i.pinimg.com/736x/9f/59/43/9f59435406d0d6fe23d96918ba45f37e.jpg);
    background-size: cover;
}

#block1{height: 450px;
    width: 322px;
    background-color: #9e0202;
    background-image: url(https://i.pinimg.com/736x/a7/2e/4a/a72e4a75d672d74055bb984eba82c40e.jpg);
    background-size: cover;
    
    


}
#block2{height: 300px;
    width: 600px;
    background-color: black;
    background-image: url(https://i.pinimg.com/736x/9c/82/fc/9c82fc5bfa49d251f3467fd2b017474c.jpg);
    background-size: cover;
    border: 10px solid rgb(252, 250, 250);
    border-radius: 3px;


}
#block3{height: 450px;
    width: 322px;
    background-color: blue;
    background-image: url(https://i.pinimg.com/736x/f9/ee/e6/f9eee6d857db6a1a28dd27da596177b8.jpg);
    background-size: cover;
    border: 12px solid black;
    


}


h4{
    position: absolute;
    top: 8%;
    font-size: 120px;
    font-weight: 550;
    font-family: heyam;
    color: black;
    letter-spacing: 15px;

}

h6{
    position: absolute;
    top: 80%;
    font-size: 30px;
    font-family: porsche ;
    font-weight: 100;
    word-spacing: 3px;


}

#block1:hover{
    scale: 1.1;
      cursor: pointer;
}


#block2:hover{
    scale: 1.05;
    border-radius: 20px;
    cursor: pointer;
    border: 10px solid  black;

    background-image: url(https://i.pinimg.com/1200x/46/99/80/46998097fa4f70ac42b30965efc3845f.jpg);
    background-size: cover;
}


#block3:hover{
    scale: 1.1;
      cursor: pointer;
}



h4:hover{
    color: white;
      cursor: pointer;
}
h6:hover{
    color: white;
      cursor: pointer;
}
